.wrap {
    padding:0;
    margin:0;
}
.bg {
    background:#78C1CA;
}
.slform2 {
    position: relative;
    top: 225px;
    left: 99px;
}
.fleft {
    float: left;
    width: 50%;
    background: pink;
    height: -webkit-fill-available;
    box-sizing: border-box;
}

.fright {
    float: right;
    background:#78C1CA;
    height: -webkit-fill-available;
    width: 50%;
    box-sizing:border-box;

}
.box
{
    width: 800px;
    padding-top: 50px;
    padding-left: 150px;
    display: block;
    align-items: center;
}
.vsensor{
    font-size: 40px;
    font-weight: 900;
    color: #FFFBF0;
    padding-left: 75px;
    padding-top: 100px;
}
.phone {
    position: absolute;
    width: 233px;
    padding-left: 200px;
}
.t {
    font-size: 20px;
    color: #EDFFFF;
    padding-top: 70px;
    position: absolute;
    padding-left: 225px;
}
.p {
    font-size: 20px;
    color: #EDFFFF;
    padding-top: 110px;
    position: absolute;
    padding-left: 225px;
}
.h {
    font-size: 20px;
    color: #EDFFFF;
    padding-top: 150px;
    position: absolute;
    padding-left: 225px;
}
.o3 {
    font-size: 20px;
    color: #EDFFFF;
    padding-top: 190px;
    position: absolute;
    padding-left: 225px;
}
#sl{
    position: relative;
    top: 100px;
    left: 100px;
}
.c {
    font-size: 14px;
    color: #EDFFFF;
    padding-top: 230px;
    position: absolute;
    padding-left: 225px;
}
#clock{
    background: lavender;
    left: 177px;
    position: inherit;
}
#slform1{
    position: relative;
    top: 172px;
    left: 100px;
}
#slform3{
    position: relative;
    top: 172px;
    left: 100px;
    width: 930px;
}
#slsubmit{
    position: relative;
    top: 275px;
    left: 150px;
}
#slform{
    position: relative;
    top: 200px;
    left: 100px;
}

.time {
    font-size: 14px;
    color: #EDFFFF;
    padding-top: 270px;
    position: absolute;
    padding-left: 225px;
}

.fetch{
    padding-top: 475px;
    padding-left: 250px;
}

.submit{
    padding-left: 100px;
}
#create{
    position: relative;
    top: 200px;
    left: 150px;
}
#return{
    position: relative;
    top: 284px;
    left: 359px;
}
#json1{
    top: 150px;
    left: 250px;
    position: relative;
}
#json2{
    top: 275px;
    left: 250px;
    position: relative;
}
#details1{
    position: absolute;
    top:0;
    bottom: 535px;
    left: 250px;
    right: 0;
    margin: auto;
    height: 100px;
}
#details2{
    position: absolute;
    top:0;
    bottom: -221px;
    left: 250px;
    right: 0;
    margin: auto;
    height: 100px;
}
#status{
    position: relative;
    top: 350px;
    left: 250px;
}